/* default css */
*
{
    margin: 0%;
    padding: 0%;
}
.sec
{
    padding: 80px 0px 70px 0px;
}
.sec1
{
    padding-top: 80px;
}
.heading
{
    font-size: 42px;
}
.cont
{
    max-width: 1140px;
    margin: auto;
}
.f-clr
{
    color: white;
}
.t-clr
{
    color: #232323;
}
.f-colr
{
    color: #0C5Abd;
}
.t-head
{
    font-size: 42px;
}
.theme
{
    background-color: #0C5Abd;
}
.dark-theme
{
    background-color: #111A3A;
}
.t-center
{
    text-align: center;
}
.t-left
{
    text-align: left;
}
.flex
{
    display: flex;
}
.w50
{
    width: 50%;
}
.w33
{
    width: 33%;
}
.w25
{
    width: 25%;
}
button
{
    border: none;
}
img
{
    height: 100%;
    width: 100%;
}

/* main css */

.top-nav
{
    background-color: #0C5Abd;
}
.nav-par
{
    justify-content: space-between;
}
.left span
{
    padding: 10px 5px;
    display: inline-block;
}
.right a
{
    padding: 10px 5px;
    display: inline-block;
}
.header
{
    background-color: white;
}
.head-par
{
    justify-content: space-between;
}
.left-head
{
    display: flex;
    align-items: center;
}
.main-manu
{
    display: flex;
    list-style-type: none;
}
.main-manu li
{
    padding: 25px 20px;
}
.head-btn
{
    margin-top: 20px;
}
.head-btn button
{
    padding: 10px 30px;
    font-size: 17px;
    border-radius: 5px;
}

/* slider css */
.img-box
{
    height: 600px;
    position: relative;
}
.slider-txt
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 200px;
}
.slider-txt h1
{
     font-size: 120px;
     font-weight: 800;
}
.slider-txt h3
{
    font-size: 33px;
    font-weight: 400;
}
.slider-btn
{
    margin-top: 30px;
}
.slider-btn button
{
    margin-right: 20px;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 40px;
}
.b2
{
    background-color: transparent;
    border: 2px solid white;
}
/* section 1 css */
.box1
{
    border-radius: 8px;
    height: 250px;
    position: relative;
    margin: 0px 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
.bx-1
{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.bx-1 span
{
    font-size: 50px;
    line-height: 45px;
    padding: 20px 30px;
    border-radius: 33% 66% 70% 30%/49% 62% 38% 51%;
}
.icon-box
{
    margin-top: -45px;
}
.bx-txt
{
    margin-top: 40px;
    font-size: 18px;
    display: block;
}
/* section 2 css */
.a-left,.a-right
{
    margin: 0px 15px;
}
.a-info 
{
    padding-top: 40px;
    font-size: 23px;
    color: #616161;
    text-align: left;
    margin-bottom: 40px;
}
.l-info
{
    padding-left: 20px;
    border-left: 1px solid #ddd;
    font-size: 17px;
    color: #616161;
}
.a-head  p
{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0px;
}
.a-btn 
{
    margin-top: 30px;
}
.a-btn button
{
    padding: 15px 45px;
    font-size: 18px;
    border-radius: 5px;
}
/* section 3 css */
.section3
{
    background-color: #EFF2F7;
}
.ser-head h2,.ser-head h3
{
    text-align: center;
    margin-bottom: 10px;
}
.ser-info
{
    text-align: center;
    font-size: 18px;
    color: #616161;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}
.d1
{
    border-radius: 10px;
    display: flex;
    margin: 15px;
    background-color: white;
}
.d-box
{
    padding: 15px;
}
.ic-box span
{
    padding: 20px 30px;
    text-align: right;
    font-size: 42px;
    background-color: #e8ecfc;
    border-radius: 33% 66% 70% 30%/49% 62% 38% 51%;
}
.ic-box
{
    margin: 60px 0px 40px 110px;
}
.d-head h3
{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}
.f-info
{
    text-align: center;
    color: #616161;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.d-btn 
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.d-btn button
{
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #e8ecfc;
    border-radius: 30px;
    color: #616161;
    padding: 10px 40px;
}
/* section 4 css */
.section4
{
    height: 100%;
    width: 100%;
    background-image: url(./images/3.png);
    background-position: center;
}
.b-line h4
{
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 2px;
}
.b-btn button
{
    margin-top: 40px;
    background-color: white;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 5px;
}
.status
{
    box-shadow: 11px 11px 38px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: translateY(170px);
    border-radius: 15px;
    background-color: white;
}
.d-fram
{
    padding: 60px 100px;
    justify-content: space-between;
}
.f-1 span
{
    font-size: 40px;
    font-weight: 700;
}
.f-1
{
    text-align: center;
}
.f-1 h4
{
    font-size: 20px;
}
/* section 5 css */
.section5
{
    padding-top: 200px;
}
.w-head
{
    text-align: center;
}
.w-slidbtn
{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.w-slidbtn button
{
    padding: 10px 40px;
    font-size: 16px;
    color: #616161;
    background-color: #f2f2ff;
    border-radius: 5px;
}
.wimg1
{
    margin: 15px;
}
/* section 6 css */
.section6
{
    background-image: url(./images/10.jpg);
    background-position: center;
    padding-bottom: 150px;
}
.team-head
{
    text-align: center;
}
.team-head p
{
    margin-bottom: 20px;
    font-weight: 700;
}
.m-info
{
    text-align: center;
    font-size: 16px;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #0C5Abd;
}
.team-img
{
    margin: 15px;
    height: 350px;
}
.team-img img
{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.m-info h5
{
    font-size: 20px;
}
/* section 7 css */
.p-head
{
    text-align: center;
    margin-bottom: 20px;
}
.p1
{
    text-align: center;
    margin: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 50px 30px 40px 30px;
}
.p1 h4
{
    padding-bottom: 40px;
    font-size: 30px;
}
.pinfo
{
    border: 1px solid #e6e6e6;
    font-size: 17px;
    color: #616161;
    line-height: 40px;
    margin: 20px;
}
.pinfo p
{
    padding: 30px 20px;
}
.pri-font
{
    font-size: 55px;
}
.pribtn button
{
    padding: 15px 50px;
    border: 1px solid rgba(30, 30,30,0.1);
    border-radius: 28px;
    margin-top: 40px;
    color: #616161;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
}
/* section 8 css */
.section8
{
    background-color: #EFF2F7;
    padding-bottom: 170px;
}
.test1
{
      box-shadow: 0px 18px 17px rgba(0,0,0,0.1);
      padding: 35px 30px 20px 20px;
      margin: 15px;
      background-color: white;  
      text-align: left;
      display: flex;
      justify-content: center;
      position: relative;
}
.t-info
{
    color: #616161;
    font-size: 16px;
    line-height: 25px;
    word-break: break-all;
}
.photo
{
    position: absolute;
    top: 120%;
    left: 0%;
}
.tim img
{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.tinf p
{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 3px;
}
.tinf span 
{
    font-size: 16px;
    font-weight: 500;
}
.tinf
{
    margin-left: 20px;
}
/* section 9 */
.a-par 
{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.art-btn button
{
    padding: 15px 35px;
    color: white;
    border-radius: 5px;
    font-size: 19px;
}
.art-box
{
    margin: 15px;
    border: 1px solid #ebebeb;
}
.art-info
{
    padding: 20px;
}
.art-info h4
{
    font-size: 21px;
    color: #232323;
    margin: 10px 0px 5px 0px;
}
.art-info button
{
    background-color: transparent;
    color: #616161;
    margin-top: 20px;
    font-size: 16px;
}
/* section 10 */
.section10
{
    background-color: #EFF2F7;
    padding: 40px 0px;
}
.comp
{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.comp img
{
    margin: 30px;
}
/* footer css */
.footer
{
    background-color: #111A3A;
    color: white;
}
.f-img
{
    background-image: url(./images/20.png);
    background-position: center;
}
.f1 
{
    margin: 15px;
}
.f1-img
{
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
}
.f1-img img 
{
    height: 100%;
    width: 100%;
}
.f1 h4
{
    font-size: 22px;
    margin-bottom: 30px;
}
.copy
{
    justify-content: space-between;
}
.f-data 
{
    font-size: 17px;
    width: 95%;
    text-align: justify;
    margin-bottom: 40px;
}
.follow span
{
    margin: 0px 5px;
}
.market
{
    list-style-type: square;
}
.market li
{
    margin-bottom: 15px;
    font-size: 17px;
}
.parg
{
    margin-bottom: 25px;
}
.p
{
    font-size: 17px;
    line-height: 30px;
}
.add 
{
    margin-bottom: 20px;
}
.pho 
{
    margin-bottom: 10px;
}
.foo-info p
{
    font-size: 19px;
}
.fl-1
{
    padding-bottom: 20px;
    border-bottom: 1px solid #adb0be;
}
.f-flex span
{
    font-size: 16px;
    color: #adb0be;
}
.foo-img
{
    height: 90px;
    width: 150px;
    padding-right: 20px;
}
.foo-img img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.fl-2
{
    margin-top: 30px;
}
.copyright
{
    padding: 20px 0px;
    border-top: 1px solid rgba(255,255,255,.23);
}
.copy
{
    padding: 0px 15px;
}